[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
todoist-python = ">=r8.1.0"
python-telegram-bot = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
